github-dwh.example.com {
  encode zstd gzip

  handle /control/logs/* {
    reverse_proxy unix//opt/github-dwh/run/log-api.sock
  }

  handle {
    reverse_proxy pocketbase:8090
  }
}

analytics.github-dwh.example.com {
  encode zstd gzip
  reverse_proxy lightdash:8080
}
